$pink-color: #ff00cd;

.search-container {
    padding-left: 50px;
    // padding-top: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 175px;
    // border: 2px solid red;
    height: 60px;
    background-image: linear-gradient(to right, hsl(227, 60, 22), hsl(225, 55, 24), hsl(225, 53, 24), hsl(225, 53, 25), hsl(224, 51, 25));
    // background-image: linear-gradient(to right, #0d1854, #203264, #203690,#051974 );
    // background-color: indianred;
    // width: 100%;
}

input {
    border: none;
    background-color: inherit;
    caret-color: $pink-color;
    font-size: 15px;
    color: white;
    width: 400px;
    outline: none;
    padding: 20px;
}

input::placeholder {
    color: whitesmoke;
}