// $deep-blue: #0c1639;
$deep-blue: #0E1A41;
$white: whitesmoke;
.wrapper {
    padding-top: 20px;
}

.heading {
    color: $white;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.container {
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 4px;
    width: 550px;
    color: $white;
    border-radius: 60px;
    margin-bottom: 5px;
}

.active, .container:hover {
    background-color: $deep-blue;
    cursor: pointer;
    // opacity: 0.7;
}

.img-and-song {
    align-items: center;
}

.image-icon-container{
    position: relative;
}

.pause-play{
    width: 30px;
    height: 15px;
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.play{
    opacity: 0;
}

.container:hover .play{
    opacity: 1;
}

.icon-and-duration {
    align-items: center;
}

.duration {
    font-size: 15px;
}

.deezer-cont{
    margin-left: 20px;
}

.playlist {
    width: 30px;
    height: 15px;
}